.THIS table.moq-listprice td, .THIS table.moq-listprice th{
    border: 1px solid #BFBFBF;
    text-align : center;
}
.THIS tr.moq td, .THIS tr.moq th, .THIS tr.listprice th{
    background-color: #E7E6E6;
}
.THIS tr.listprice td{
    color: #F17D31;
}
/*@media (max-width: 600px) { }*/
.THIS .fixed {
    position: fixed;
    top: 136px;
    right: 5%;
    width: auto;
    max-width: 317px;
}

.THIS.undoButton {
    margin-top: 18px;
    margin-left: 81px;
    width: 185px;
}