.THIS table.moq-listprice td, .THIS table.moq-listprice th{
    border: 1px solid #BFBFBF;
    text-align : center;
}
.THIS tr.moq td, .THIS tr.moq th, .THIS tr.listprice th{
    background-color: #E7E6E6;
}
.THIS tr td{
    background-color: #e7e6e6;
    color: gray;
}
.THIS tr.listprice td{
    color: #F17D31!important;
    background-color: white;
}